@model IEnumerable<Go2MusicStore.Models.ShoppingCartItem>

@{
    ViewBag.Title = "Index";
}

<h2>Shopping Cart Items</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Album.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShoppingCartId)
        </th>
        <th>
           Registered User
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Album.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShoppingCartId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShoppingCart.StoreAccount.UserIdentityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.ActionLink("Shopping Cart", "Index", "ShoppingCarts", new { SelectedStoreAccount = item.ShoppingCart.StoreAccountId }, null) |
            @Html.ActionLink("Edit", "Edit", new { id = item.ShoppingCartItemId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ShoppingCartItemId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ShoppingCartItemId })
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Back to Admin", "Index", "Admin")
</div>