@model Go2MusicStore.Models.CreditCard

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CreditCard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Credit Card Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardNumber)
        </dd>

        <dt>
            Store Account User
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreAccount.UserIdentityName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CreditCardId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<div>
    @Html.ActionLink("Back to Admin", "Index", "Admin")
</div>