@model IEnumerable<Go2MusicStore.Models.Artist>

@{
    ViewBag.Title = "Artists";
}

<h2>Artists</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Select Genre: @Html.DropDownList("SelectedGenre", "All")
        <input type="submit" value="Filter" />
    </p>
}

<table class="table">

    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>Genre</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelitem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.Genre.Name)
            </td>
            <td>
                @Html.ActionLink("Albums", "Index", "Albums", new { SelectedArtist = item.ArtistId }, null) |
                @Html.ActionLink("Edit", "Edit", new { id = item.ArtistId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ArtistId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ArtistId })
            </td>
        </tr>

    }

</table>

<div>
    @Html.ActionLink("Back to Admin", "Index", "Admin")
</div>